<form>
    <div class="register-box">
      
      <h1>Register</h1>
      
      <div class="textbox">
        <input type="text" placeholder="Email" name="" value="">
      </div>
  
      <div class="textbox">
        <input type="password" placeholder="Password" name="" value="">
      </div>
  
      <div class="textbox">
          <input type="password" placeholder="Re-enter Password" name="" value="">
      </div>
  
      <div class="textbox">
          <input type="year" placeholder="Birth year" name="" value="">
      </div>
  
      <input type="button" class="btn btn-danger" name="" value="Register">
  
    </div>
  </form>
  
